numpy
torch
datasets
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
torchvision
pillow
matplotlib
wandb
safetensors
git+https://github.com/cloneofsimo/lora.git
jupyter
jupyter_http_over_ws
git+https://github.com/huggingface/peft.git
tensorboard
pytest
pytest-asyncio
